<h1>Listar pagamento</h1>

{{#each pagamentos}}

    Nome: {{nome}}<br>
    Valor: {{valor}}<br>
    Cadastrado: {{createdAt}}<br>
    <hr>

{{/each}} 

{{!-- <h1>Listar pagamento</h1>

{{#each pagamentos}}
    
    Nome: {{nome}}<br>
    Valor: {{valor}}<br>
    Cadastrado: {{createdAt}}<br>
    <hr>
{{/each}} --}}