<h1>Detalhes do pagamento</h1>
    <a href="/pagamento/{{id}}"><button>Listar</button></a>    
    <a href="/edit-pagamento/{{id}}"><button>Editar</button></a>
    <a href="/del-pagamento/{{id}}"><button>Apagar</button></a> <hr>
ID: {{id}} <br>
Nome: {{nome}} <br>
Valor: R$ {{valor}} <br>